{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consultar Cuentas</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/stylesDetalle.css' %}"
    />
    <style>
      /* Estilos personalizados para el efecto hover */
      .hover-card {
        transition: transform 0.2s;
      }
      
      .hover-card:hover {
        transform: scale(1.05); /* Cambia el tamaño al pasar el mouse sobre la tarjeta */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
      }
    </style>
  
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-navbar-accordion-body bg-bg-secondary"
      style="background: #002464; color: white"
    >
      <a class="navbar-brand" href="#">Consultar Cuentas</a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Movimientos</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Cartola de Intereses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Liquidación de Intereses</a>
          </li>
        </ul>
      </div>

      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="{% url 'custom_login' %}"
          >Cerrar Sesión</a
        >
      </div>
    </nav>
    <div class="container text-center mt-5">
      <h2 class="display-5">MOVIMINETOS DE LA CUENTA</h2>
      <p>Fecha actual: {{ fecha_actual|date:"m/d/Y H:i:s" }}</p>
  </div>
  
    {% if messages %}
    <ul class="list-unstyled ">
      {% for message in messages %}
      <li class="alert alert-{{ message.tags }} alert-success text-center mb-2">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="container mt-5">
      <table class="table table-bordered table-hover">
          <tbody>
              <tr>
                  <th scope="row" class="text-primary">Acciones</th>
                  <td>
                      <a href="{% url 'ingresar_valor' usuario.id %}" class="btn btn-primary">Realizar Deposito</a>
                      <a href="{% url 'realizar_retiro' usuario.id %}" class="btn btn-btn-secondary bg-danger"style="color:white">Realizar Giro</a>
                      {% if user.is_authenticated and user.is_staff %}
                      <a href="{% url 'lista_usuarios' %}" class="btn btn-primary">Ver Lista de Usuarios</a>
                      {% endif %}
                  </td>
              </tr>
              {% if usuario %}
              <tr>
                  <th scope="row" class="text-primary">Información de Cuenta</th>
                  <td>
                      <p>Cuenta N° {{ usuario.NumeroCuenta }} (CLP)</p>
                      <p>SELECCIONAR OTRA CUENTA ></p>
                      <select class="form-control">
                          <option value="cuenta1">Cuenta Corriente</option>
                          <option value="cuenta3">Cuenta Ahorro</option>
                          <option value="cuenta2">Línea de Crédito</option>
                      </select>
                  </td>
              </tr>
              {% else %}
              <tr>
                  <th scope="row" class="text-primary">Información de Cuenta</th>
                  <td>
                      <p>No se encontró información de la cuenta.</p>
                  </td>
              </tr>
              {% endif %}
          </tbody>
      </table>
  </div>
  
    <div class="container mt-5 ">
      <div class="row">
        <div class="col-md-6">
          <!-- Primera columna -->
          <div class="card hover-card">
            <div class="card-body">
              <h5 class="card-title">Saldo Disponible Cuenta Corriente</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <i class="fas fa-dollar-sign mr-4"></i>
                </div>
                <p class="card-text">{{ usuario.SaldoCuentaCorriente }}</p>
              </div>
            </div>
          </div>
          <div class="card hover-card mt-3">
            <div class="card-body">
              <h5 class="card-title">Saldo Contable</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <i class="fas fa-dollar-sign mr-4"></i>
                </div>
                <p class="card-text">{{ usuario.SaldoContable }}</p>
              </div>
            </div>
          </div>
          <div class="card hover-card mt-3">
            <div class="card-body">
              <h5 class="card-title">
                Retenciones 24H <i class="fas fa-question-circle"></i>
              </h5>
              <p class="card-text"></p>
            </div>
          </div>
          <div class="card hover-card mt-3">
            <div class="card-body">
              <h5 class="card-title">
                Retenciones 48H <i class="fas fa-question-circle"></i>
              </h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Segunda columna -->
          <div class="card">
            <div class="card-body hover-card">
              <h5 class="card-title">
                Saldo Disponible Línea de Crédito
                <i class="fas fa-question-circle"></i>
              </h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <i class="fas fa-dollar-sign mr-4"></i>
                </div>
                <p class="card-text">{{ usuario.SaldoLineaCredito }}</p>
              </div>
            </div>
          </div>
          <div class="card hover-card mt-3">
            <div class="card-body">
              <h5 class="card-title">
                Total Cargos <i class="fas fa-dollar-sign"></i>
              </h5>
              <p class="card-text">{{ usuario.TotalCargos }}</p>
            </div>
          </div>
          <div class="card hover-card mt-3">
            <div class="card-body">
              <h5 class="card-title">
                Total Abonos <i class="fas fa-dollar-sign"></i>
              </h5>
              <p class="card-text">{{ usuario.TotalAbonos }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <h2>SIMULA AQUÍ:</h2>
    </div>
    <div class="container mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Tienes un crédito de consumo preaprobado por $14.450.000, con abono
            inmediato en tu cuenta corriente.
          </h5>
        </div>
      </div>
    </div>
  
    <script>
        // Seleccionar todos los elementos de mensaje con la clase "alert"
        var messages = document.querySelectorAll('.alert');

        // Iterar a través de los elementos de mensaje y ocultarlos después de 3 segundos
        messages.forEach(function(message) {
            setTimeout(function() {
                message.style.display = 'none';
            }, 3000); // 3000 milisegundos (3 segundos)
        });
    </script>
  </body>
</html>
